<template>
    <div class="card">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <input type="text" class="form-control" placeholder="Title" v-model.trim="card.name">
                    </div>
                    <div v-if="card.type != 'checkbox'" class="card-body">
                        <textarea class="form-control" rows='4' v_model.trim="card.content"></textarea>
                    </div>
                    <div v-else class="card-body">
                        <card-point @delete-card-point="delpoint" :content="card.content"></card-point>
                        <button type="button" @click="addpoint" class="btn btn-success" style="width:100%; height: 37px;">
                            <i class="fa fa-plus"></i> Point
                        </button>
                    </div>
                    <div v-if="index > -1" class="card-footer">
                        <tags :tags="card.tags"></tags>
                        <div class="text-right">
                            <button type="button" @click="savecard" class="btn btn-success">
                                <i class="fa fa-save"></i>
                            </button>
                            <button type="button" @click="reloadcard" class="btn btn-info">
                                <i class="fa fa-redo"></i>
                            </button>
                            <button type="button" @click="deletecard" class="btn btn-danger">
                                <i class="fa fa-trash-alt"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "CardComponent",
        props: [ 'card', 'index' ],
        mounted() {
            console.log('Component Card mounted.')
        },
        methods: {
            delpoint(id) {
                this.card.content.splice(id, 1);
            },
            addpoint() {
                this.card.content.push({
                    checked: false,
                    name: ''
                });
            },
            deletecard() {
                axios.defaults.headers.common['Authorization'] = 'Bearer ' + this.$cookie.get('api-token');
                axios.delete('/api/cards/'+this.card.id)
                    .then( (response) => {
                        if( response.data.success ){
                            this.$emit('card-load-data');
                        }
                        console.log(response);
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            savecard() {
                axios.defaults.headers.common['Authorization'] = 'Bearer ' + this.$cookie.get('api-token');
                axios.put('/api/cards/'+this.card.id, this.card)
                    .then( (response) => {
                        if( response.data.success ){
                            this.card = response.data.data;
                        }
                        console.log(response);
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            reloadcard() {
                axios.defaults.headers.common['Authorization'] = 'Bearer ' + this.$cookie.get('api-token');
                axios.get('/api/cards/'+this.card.id)
                    .then( (response) => {
                        if( response.data.success ){
                            this.card= response.data.data;
                        }
                        console.log(response);
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            }
        }
    }
</script>

<style scoped>

</style>