<template>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-right">
                <button type="button" id="btn-reload-card" class="btn btn-info" @click="load">
                    <i class="fa fa-redo"></i>
                </button>
                <button type="button" id="btn-add-card" class="btn btn-info" @click="openaddcard" data-toggle="modal" data-target="#addCardModal">
                    <i class="fa fa-plus"></i> Add Card
                </button>
            </div>
            <autocomplete
                    url="/api/tags"
                    anchor="title"
                    label="writer"
                    :on-select="getData"
                    :customHeaders="{
                        Authorization: 'Bearer ' + this.$cookie.get('api-token'),
                        Accept: 'application/json',
                        'Content-Type': 'application/x-www-form-urlencoded'
                    }"
                    :onAjaxLoaded="getData"
                    :onShouldRenderChild="renderChild"
            >
            </autocomplete>
        </div>
        <div class="row">
            <div v-for="(card, index) in cards" class="col-sm-12 col-md-6 col-lg-6">
                <card @card-load-data="load" :index="index" :card="card"></card>
            </div>
        </div>
        <div id="addCardModal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                        <card :index="-1" :card="newcard"></card>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" @click="addcard()"  class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import Autocomplete from 'vue2-autocomplete-js';

    export default {
        components: { Autocomplete },
        data() {
            return {
                newcard: {
                    name: '',
                    type: 'checkbox',
                    content:  [
                        {
                            checked: false,
                            name: ''
                        }
                    ],
                    tags: [],
                },
                cards: []
            }
        },
        mounted() {
            this.load();
            console.log('Component Cards mounted.')
        },
        methods: {
            openaddcard(){
                this.newcard = {
                    name: '',
                    type: 'checkbox',
                    content: [],
                    tags: [],
                };
            },
            del(id) {
                // this.$emit('delete-card-point', id);
            },
            addcard() {
                axios.defaults.headers.common['Authorization'] = 'Bearer ' + this.$cookie.get('api-token');
                axios.post('/api/cards', this.newcard)
                    .then( (response) => {
                        if( response.data.success ){
                            jQuery('#addCardModal').modal('hide');
                            this.load();
                        }
                        console.log(response);
                    })
                    .catch(function (error) {
                        console.log(error);
                    });

            },
            load() {
                axios.defaults.headers.common['Authorization'] = 'Bearer ' + this.$cookie.get('api-token');
                axios.get('/api/cards', this.newcard)
                    .then((response) => {
                        if( response.data.success ){
                            this.cards = response.data.data;
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });

            },
            getData(response){
                if( response.success ){
                    Autocomplete.data = response.data;
                }
            },
            renderChild(data) {
                console.log(data);

                return `
                  <img src="${data.src}" />
                  <span>${data.something}</span>
                `
            },
        }
    }
</script>

<style scoped>

</style>