<template>
    <div class="row">
        <div  v-for="( point, index ) in content" class="col-12">
            <div class="input-group mb-2 mr-sm-2">
                <label class="input-group-prepend">
                    <div class="input-group-text">
                        <input style="height: 23px;" type="checkbox" v-model="point.checked"/>
                    </div>
                </label>
                <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Point name" v-model.trim="point.name">
                <div class="input-group-append">
                    <button type="button" @click="del(index)" class="btn btn-danger" style="height: 37px;">
                        <i class="far fa-trash-alt"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    export default {
        name: "CardListComponent",
        props: [ 'content' ],
        mounted() {
            console.log('Component Cards Point mounted.')
        },
        methods: {
            del(id) {
                this.$emit('delete-card-point', id);
            }
        }
    }
</script>

<style scoped>

</style>