<template>
    <div class="row tags">
        <div class="col-sm-12">
            Tags:
            <span v-for="(tag, index) in tags">
                <button type="button"  class="tag" @click="del(index)">
                    {{tag.name}}
                    <i class="fas fa-times-circle"></i>
                </button>
            </span>
            <button type="button" class="btn-add-tag" @click="add">
                <i class="fas fa-plus-circle"></i>
            </button>
        </div>
    </div>
</template>

<script>
    export default {
        props: [ 'tags'],
        mounted() {
            console.log('Component Tags mounted.')
        },
        methods: {
            del(id) {
                console.log('delete tag');
                this.tags.splice(id, 1);
            },
            add() {
                this.card.content.push({
                    i: false,
                    name: ''
                });
            },
        }
    }
</script>

<style scoped>
    .tags {
        font-size: 11px;
        color: #9191ea;
    }
    .tag {
        color: #9191ea;
        background: #ffffff;
        border: 1px solid #9191ea;
        border-radius: 10px;
        display: inline-block;
        padding: 0 3px 0 6px;
        margin-right: 5px;
    }
    .btn-add-tag:hover,
    .tag:hover {
        cursor: pointer;
    }
    .btn-add-tag:focus,
    .tag:focus {
        outline: none;
    }
    .btn-add-tag {
        padding: 0px;
        border: none;
        border-radius: 50%;
        background: none;
        color: green;
        font-size: 14px;
        display: inline-block;
    }
</style>